@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
	font-size: 16px;
	font-family: "Poppins", sans-serif;
}

/* Custom shadow text */
.my-shadow {
	text-shadow: 1px 1px 10px rgba(0, 0, 0, 1.2);
}
/* Akhir Custom shadow text */

/* Custom Hp */
@media screen and (max-width: 994px) {
	.form-control {
		width: 310px;
	}
	.navbar-nav {
		text-align: center;
	}
}
/* Akhir Custom Hp */

/* Custom Btn */
.btn-custom {
	border-radius: 40px;
}
.btn-custom:hover {
	transform: scale(1.02);
}
/* Akhir Custom Btn */

/* Custom form control */
.form-control {
	border-radius: 40px;
}
/* Akhir Custom form Control */

/* Custom Products */
.products {
	border-radius: 10px;
	height: 200px;
	background-color: #9eeaf9;
}
.img-product:hover {
	transform: scale(1.1);
	text-shadow: 1px 1px 10px rgba(0, 0, 0, 1.2);
}
/* akhir Custom Products */

/* Custom Footer */
footer {
	background-color: #9eeaf9;
	margin-top: 10rem;
}
/* Akhir custom Footer */
